snippet this "$this"
	$this->

snippet th "$this"
	$this->

snippet $t "$this"
	$this->

snippet constr "constructor"
	public function __construct(${1}) {
		${2}
	}

snippet vd "var_dump();"
	var_dump(${1});

snippet vdsep "var_dump("~~~")"
	var_dump("~~~~~~~~~~~~~~~~~~~~~~");
